@CHARSET "ISO-8859-1";

.board {
  border-collapse:collapse;
  margin-top: 1em;
  margin-left: 5px;
  border: 10px solid #134D00;
}

.board td {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  text-align: center;
  padding: none;
}

.w0 {
  border-top-width: 5px !important;
}

.w1 {
  border-right-width: 5px !important;
}

.w2 {
  border-bottom-width: 5px !important;
}

.w3 {
  border-left-width: 5px !important;
}

.parking_lot {
  background-image:url('/assets/images/parking_lot_70x70.png');
  background-position:center; 
}

.parking_space {
  background-image:url('/assets/images/parking_space_70x70.png');
  background-position:center;
}

.shop {
  background-image:url('/assets/images/shop_70x70.png');
  background-position:center;
}

.open {
  background-image:url('/assets/images/open_70x70.png');
  background-position:center;
}

.fountain {
  background-image:url('/assets/images/fountain_70x70.png');
  background-position:center;
}

.card.goal {
  background-color: yellow;
}

.hover {
  background-color:#EBEBEB !important;
  background-image:none;
}

.red {
  color: red;
}

.action {
  font-size: .7em;
  border: 1px solid green;
  background-color: #DBFFDB;
}

.action a {
  text-decoration: none;
}